:root {
  --red-100: #bc3810;
  --red-200: #ce3e12;
  --red-300: #e14414;
  --red-400: #eb4e1e;
  --red-500: #ec4e20;
  --red-600: #ef6b43;
  --red-700: #f07a56;
  --red-800: #f28969;
  --red-900: #f4987c;
  --orange-100: #b86b00;
  --orange-200: #cc7700;
  --orange-300: #e08300;
  --orange-400: #f58f00;
  --orange-500: #ff9505;
  --orange-600: #ffa21f;
  --orange-700: #ffaa33;
  --orange-800: #ffb347;
  --orange-900: #ffbb5c;
  --orange-1000: #ffc370;
  --orange-1100: #ffcc85;
  --olive-500: #353531;
  --gray-400: #999;
  --gray-500: #aaa;
  --gray-600: #bbb;
  --gray-700: #ccc;
  --gray-800: #ddd;
  --gray-900: #eee;
  --gray-1000: #fff;

  --fill-foreground: linear-gradient(
    to bottom right,
    var(--gray-900),
    var(--gray-700)
  );
  --fill-midground: linear-gradient(
    to bottom right,
    var(--gray-900),
    var(--gray-700)
  );
  --fill-background: linear-gradient(
    to bottom right,
    var(--gray-1000),
    var(--gray-800)
  );

  --fill-button: var(--gray-900);
  --fill-button-hover: var(--gray-1000);

  --fill-scroll-track: var(--gray-700);
  --fill-scroll-thumb: var(--gray-900);
  --color-text: black;

  --mobile-width: 768px;
  --border-radius: 8px;
  --drawer-margins: 12px;
  --transition-time: 800ms;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: var(--fill-background);
}
h2,
h3 {
  color: var(--color-text);
}
