:root {
  --red-100: #bc3810;
  --red-200: #ce3e12;
  --red-300: #e14414;
  --red-400: #eb4e1e;
  --red-500: #ec4e20;
  --red-600: #ef6b43;
  --red-700: #f07a56;
  --red-800: #f28969;
  --red-900: #f4987c;
  --orange-100: #b86b00;
  --orange-200: #cc7700;
  --orange-300: #e08300;
  --orange-400: #f58f00;
  --orange-500: #ff9505;
  --orange-600: #ffa21f;
  --orange-700: #ffaa33;
  --orange-800: #ffb347;
  --orange-900: #ffbb5c;
  --orange-1000: #ffc370;
  --orange-1100: #ffcc85;
  --olive-500: #353531;

  --fill-foreground: linear-gradient(
    to bottom right,
    var(--orange-800),
    var(--orange-600)
  );
  --fill-midground: var(--red-100);
  --fill-background: linear-gradient(
    to bottom right,
    var(--orange-400),
    var(--orange-100)
  );

  --fill-button: var(--orange-800);
  --fill-button-hover: var(--orange-1100);

  --fill-scroll-track: var(--red-600);
  --fill-scroll-thumb: var(--red-300);
  --color-text: var(--olive-500);

  --mobile-width: 720px;
  --border-radius: 8px;
  --drawer-margins: 12px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: var(--fill-background);
}
h1 {
  color: var(--color-text);
}
h2,
h3 {
  color: var(--color-text);
}
