.header {
  transition: all var(--transition-time);
  position: fixed;
}

.mode0 {
  bottom: var(--title-bottom-splash);
  left: 50vw;
  transform: translateX(-50%);
}
.mode1 {
  bottom: var(--title-bottom);
  left: 50vw;
  transform: translateX(-50%);
}
.mode2 {
  bottom: var(--title-bottom);
  left: var(--drawer-margins);
  transform: translateX(0);
}

/* Mobile version */
@media screen and (max-width: 768px) {
  .mode0 {
    opacity: 1;
    bottom: var(--title-bottom-splash);
    left: 50vw;
    transform: translateX(-50%);
  }
  .mode1 {
    opacity: 0;
    bottom: calc(100 * var(--vh));
    left: 50vw;
    transform: translateX(-50%);
  }
  .mode2 {
    opacity: 0;
    bottom: calc(100 * var(--vh));
    left: 50vw;
    transform: translateX(-50%);
  }
}
