.recipe-container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: var(--border-radius);
  transition: all var(--transition-time);
  overflow-y: scroll;
  background: var(--fill-foreground);
  position: fixed;
  display: flex;
  flex-direction: column;
}

.recipe-container::-webkit-scrollbar {
  width: calc(var(--border-radius) * 2);
}
.recipe-container::-webkit-scrollbar-track {
  background: var(--fill-scroll-track);
  border-radius: var(--border-radius);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
}
.recipe-container::-webkit-scrollbar-thumb {
  background: var(--fill-scroll-thumb);
  border-radius: var(--border-radius);
}
.recipe-container button {
  padding: 4px;
  font-size: 1.1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.button-container {
  display: flex;
  flex-direction: row;
}
.button-back {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.button-bookmark {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  display: flex;
  flex-direction: row;
}
.button-bookmark img {
  margin: 0;
}

.recipe-container h2,
.recipe-container h3,
.recipe-container p,
.recipe-container ul,
.recipe-container ol,
.main-image {
  margin: 8px;
}
.main-image {
  border-radius: var(--border-radius);
}
.recipe-container li {
  margin: 8px;
}

.mode0 {
  opacity: 0;
  height: var(--desktop-height);
  width: calc(70% - (1.5 * var(--drawer-margins)));
  top: calc(100dvh - var(--title-bottom));
  right: 0;
  transform: translateX(100%);
}

.mode1 {
  opacity: 0;
  height: var(--desktop-height);
  width: calc(70% - (1.5 * var(--drawer-margins)));
  top: calc(100dvh - var(--title-bottom));
  right: 0;
  transform: translateX(100%);
}

.mode2 {
  opacity: 1;
  height: var(--desktop-height);
  width: calc(70% - (1.5 * var(--drawer-margins)));
  top: calc(100dvh - var(--title-bottom));
  right: var(--drawer-margins);
  transform: translateX(0);
}

/* Mobile version */
@media screen and (max-width: 768px) {
  .main-image {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .mode0 {
    opacity: 0;
    height: var(--mobile-height);
    width: var(--mobile-width);
    top: var(--drawer-margins);
    right: 0;
    transform: translateX(100%);
  }

  .mode1 {
    opacity: 0;
    height: var(--mobile-height);
    width: var(--mobile-width);
    top: var(--drawer-margins);
    right: 0;
    transform: translateX(100%);
  }

  .mode2 {
    opacity: 1;
    height: var(--mobile-height);
    width: var(--mobile-width);
    top: var(--drawer-margins);
    right: var(--drawer-margins);
    transform: translateX(0);
  }
}
