.recipe-container {
  height: 90vh;
  border: 1px solid black;
  border-radius: var(--border-radius);
  position: fixed;
  top: 10vh;
  right: 0;
  width: 70%;
  transition: all 1000ms;
  overflow-y: scroll;
}

.hidden {
  opacity: 0;
  width: 0;
  margin: 0px auto;
}

/* Add media query
if < mobile width & shown, set width to 100% */
