.search-result-item {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: var(--border-radius);
  background-color: var(--color-foreground);
  margin: 4px;
  min-height: 0;
  display: grid;
  grid-template-columns: 40% 60%;
  align-content: center;
  align-items: center;
  overflow-y: hidden;
}

.search-result-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.search-result-item:hover,
.search-result-item:active {
  background-color: var(--color-foreground-hover);
  cursor: pointer;
}
