.search-container {
  height: 90vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: var(--border-radius);
  position: fixed;
  top: 10vh;
  left: var(--drawer-margins);
  transition: all 1000ms;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-midground);
}

.search-container form {
  margin: 4px;
  display: flex;
  flex-direction: row;
}
.search-container form input {
  padding: 4px;
  width: 100%;
  font-size: 1.1rem;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.search-container form button {
  padding: 4px;
  font-size: 1.1rem;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.search-container ul {
  list-style: none;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  min-height: 0;
}

.hidden {
  opacity: 0;
  width: 720px;
  margin: 0px auto;
}

.squished {
  width: calc(30% - 1.5 * var(--drawer-margins));
}

.full {
  width: 720px;
}
/* Add media query
if < mobile width & !squished, set width to 100% 
if < mobile width & squished, set width to 0 */
